.wrapper {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.newBudgetLink {
  text-decoration: none;
  background-color: #0be466;
  border: none;
  padding: 5px 20px;
  width: 150px;
  box-shadow: 1px 2px grey;
  border-radius: 3px;
  color: black
}
